
:root {

    --stdText: #eaf7ff;
    --highlight: #8ea9ba;
    --lghtDark: #293541;
    --mdmDark: #212f38;
    --Dark:   #000c14;

}

::selection{

     background: var(--highlight); 
}

body {
	background-color: var(--mdmDark);
}
